body.bg{
    background-color: white;
}

/* index */
.HeaderName{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 3px 3px 5px #efefef
}
/* index */

/* BackBTN */
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  /* background-color: #ddd; */
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}


.round {
  border-radius: 50%;
}
/* BackBTN */

/* Mobile */
body{
  padding:1em;
  background:#666;
  font-family:sans-serif;
}
mobile{
  display:flex;
  flex-flow:column nowrap;
  background:white;
  margin:auto;
  width:414px;
  height:736px;
  box-shadow:0px 12px 24px #0004;
}
.mobile-status-bar img{
  width:100%;
}
.mobile-container{
  height:100%;
  overflow:auto;
}
/* Mobile */

/* nav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: right;

  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .NavHeaderName{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:xx-large;
  }
/* nav */

.paragraph{
    margin: 3%;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.paragraph1{
    /* background-color: crimson; */
    background-image: linear-gradient(#f6bc48, #f29637);
    border-radius: 10px;
    padding: 4%;
    width: 100%;
    margin: 2%;
}
.rowFrom{
    text-align: center;
}
input[placeholder] {
    text-align: center;
}
.text-from{
    padding: 1%;
}

.checked {
  color: orange;
}
.star{
  color: white;
}

.subheader{
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
}
.bottombar{
  background-color: white;
  position: fixed;
  top: 680px;
  padding: 4%;
  display: flex;
    flex-flow: column nowrap;
    margin: auto;
    width: 414px;
}
.text-white{
  color: white;
}

/* Loading */
.load-wrapp {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 10px 10px 0;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #d8d8d8;
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}

.letter-holder {padding: 16px;}

.letter {
  float: left;
  font-size: 14px;
  color: #111;
}
.load-6 .letter {
animation-name: loadingF;
animation-duration: 1.6s;
animation-iteration-count: infinite;
animation-direction: linear;
}

.l-1 {animation-delay: .48s;}
.l-2 {animation-delay: .6s;}
.l-3 {animation-delay: .72s;}
.l-4 {animation-delay: .84s;}
.l-5 {animation-delay: .96s;}
.l-6 {animation-delay: 1.08s;}
.l-7 {animation-delay: 1.2s;}
.l-8 {animation-delay: 1.32s;}
.l-9 {animation-delay: 1.44s;}
.l-10 {animation-delay: 1.56s;}
@keyframes loadingF {
0% {opacity: 0;}
100% {opacity: 1;}
}
/* Loading */


.backhome {
  background-color: white; 
}